.header {
  z-index: 999;
  color: var(--fg);
  background-color: #20202380;
  backdrop-filter: blur(10px);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.nav {
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-menu {
  display: flex;
  align-items: center;
  gap: 16px;
}

.nav-menu-link:hover {
  color: var(--secondary);
  text-decoration: underline;
}


.side-content-toggle {
  height: 2rem;
  width: 2rem;
  color: var(--fg)
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 10px;
}