.note {
  border-bottom: 1px solid var(--primary);
  padding: 10px 0;
}

.note-title , .note-content {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.note-title {
  font-size: 1rem;
  color: var(--primary);
  font-weight: 1rem;

}

.note-content {
  font-size: 0.875rem;
}

.note-buttons {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.note-button-edit, .note-button-delete {
  height: 2rem;
  width: 2rem;
  padding: 0.25rem;
  border-radius: 5px;
}

.note-button-edit {
  background-color: var(--primary);
}

.note-button-delete {
  background-color: var(--secondary);
}